# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

local.mk
*~
shh
*.leveldb
last.csv
last-model.txt
*.snappy
__pycache__/
0/
gen
flatten

nohup.out
*.recordio
leveldb_read

addons/
models/
tf_utils/
tensorflow_addons/
tf_utils_callbacks/
*.rio
\#*\#
*-of-*
bazel-*
foo
shh
*.shh
foo.*
