[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
[submodule "addons"]
	path = addons
	url = https://github.com/tensorflow/addons.git
[submodule "tf_utils"]
	path = tf_utils
	url = https://github.com/schustmi/tf_utils.git
[submodule "eco"]
	path = eco
	url = https://github.com/chimpden/eco.git
